body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    
}

header, nav {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00;
    transition: text-shadow 0.3s;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
    text-shadow: none;
}

section {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 20px;
}
